aside {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  padding: 30px 20px;
  width: 320px;
}

aside strong {
  color: #333;
  display: block;
  font-size: 20px;
  text-align: center;
}

aside form {
  margin-top: 30px;
}

aside .input-block {
  font-size: 14px;
}

aside .input-block + .input-block {
  margin-top: 20px;
}

aside .input-group {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

aside .input-group .input-block {
  margin-top: 0;
}

aside label {
  color: #acacac;
  display: block;
  font-weight: bold;
}

aside input {
  border: 0;
  border-bottom: 1px solid #eee;
  color: #666;
  height: 32px;
  width: 100%;
}

aside form button[type=submit] {
  background: #7d40e7;
  border: 0;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  padding: 15px 20px;
  transition: background 0.5s;
  width: 100%;
}

aside form button[type=submit]:hover {
  background: #6931ca;
}
